* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.App {
  background-color: rgb(23 23 23);
  min-height: 100vh;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.normal {
  padding: 31px 90px;
}

.searchNav {
  padding: 30px;
}

.logo {
  color: #fff;
}

.btn {
  border: none;
  outline: none;
  color: #000000;
  /* padding: 12px 20px; */
  border-radius: 0.75rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btnBack,
.btnDownload {
  padding: 12px 20px;
  background-color: rgb(255, 255, 255);
}

.btnDownload {
  display: flex;
  gap: 5px;
}
.btnBack:hover,
.btnDownload:hover {
  background-color: rgb(93 138 237);
}

.retryBtn {
  padding: 12px 20px;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.message h1 {
  font-size: 52px;
  text-transform: uppercase;
  margin: 10px 0;
}

.message h2 {
  font-size: 16px;
  color: rgb(186 186 186);
}

input {
  height: 55px;
  padding: 15px;
  font-size: 16px;
  color: rgb(201 215 245);
  background-color: rgb(32 36 44);
  border: 2px solid transparent;
  width: 42vw;
  border-radius: 0.75rem;
}

@keyframes borderColor {
  0% {
    border-color: #edf1fb;
  }

  50% {
    border-color: #1c60f6;
  }
}

.animate-borderColor {
  animation: borderColor 3s cubic-bezier(0.4, 0, 0.6, 1) infinite alternate;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

img {
  height: 512px;
  width: 600px;
  border-radius: 0.75rem;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message img {
  width: 100px;
  height: 100px;
}

.upload-section {
  background-color: #fff;
  color: #000000;
  width: 90%;
  height: auto;
  padding: 20px;
  border-radius: 15px;
}

.upload-file-container {
  border: 4px dashed rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  position: relative; /* Position the upload box relatively */
}

.upload-box {
  display: flex;
  padding: 60px 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure it fills the container */
  border-radius: 5px;
}
.upload-box:hover {
  background-color: rgb(93 138 237);
}

.upload-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.upload-message {
  font-size: 18px;
  margin-top: 5px;
}

.input-form {
  margin-top: 25px;
}

.original-image {
  margin-right: 120px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .normal,
  .searchNav {
    padding: 20px;
  }
  .btn {
    font-size: 14px;
  }
  input {
    width: 80vw;
  }
  .imageSection {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 95%;
  }
  .imageSection > div {
    width: 100% !important;
    height: fit-content;
  }
  img {
    height: auto;
    width: 100%;
  }
  form {
    flex-direction: column;
    gap: 15px;
  }
  .original-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .normal,
  .searchNav {
    padding: 10px;
    flex-direction: column;
    gap: 30px;
  }
  .btn {
    font-size: 12px;
  }
  input {
    width: 90vw;
  }
  .imageSection {
    margin-top: 90px;
    margin-bottom: 10px;
    width: 90%;
  }

  .imageSection > div {
    width: 100% !important;
    height: fit-content;
  }
  img {
    height: auto;
    width: 100%;
  }
  form {
    gap: 10px;
  }
  .original-image {
    margin-bottom: 10px;
  }
}
